name: Deploy to S3

on:
  push:
    branches:
      - main   # change if you deploy from a different branch

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::370294404690:role/GitHubDeployS3-quindlen-portfolio
          aws-region: us-east-1

      - name: Deploy to S3
        run: |
          aws s3 sync . s3://quindlen-portfolio --delete \
            --exclude ".git/*" \
            --exclude ".github/*"
